html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #232425;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  height: 100%;
}

*:first-child {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}
