@import 'reset';

html {
  background-color: #212223;
}

:root {
  --face-color: #1E1E1E;
  --hand-color: #fefefe;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.clock {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  background-color: var(--face-color);
  border-radius: 90vmin;
}

.hand {
  position: absolute;
  top: 5%;
  left: calc(50% - 1px);
  bottom: 50%;
  width: 2px;
  background-color: var(--hand-color);
  box-shadow: 0 0 0 1px var(--hand-color);
  transform-origin: 50% 100%;
  border-radius: 10px;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  opacity: .6;
}

.hand.hour {
  top: 25%;
  box-shadow: 0 0 0 4px var(--hand-color);
  bottom: 50%;
}

.hand.minute {
  top: 10%;
  box-shadow: 0 0 0 2px var(--hand-color);
}

.hand.second {

}
