@import 'reset';

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 40px;
}

.drum {
  position: relative;
  padding: 2em 2em;
  margin: 0 5px;
  font-size: 1rem;
  line-height: 1;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  will-change: transform;
  transition: all 100ms ease;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px #bbb;

  &::after {
    content: '';
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.2;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 150ms ease;
    border-radius: 100px;
  }

  &:focus,
  &:hover {
    cursor: pointer;
    outline: none;
  }

  &.playing {
    transform: translate(0, 2%);
    padding: 3em 3em;
    &::after {
      transform: scale(2);
    }
  }

  kbd {
    font-size: 2em;
  }
  small {
    display: block;
    margin-top: 0.3em;
    font-size: 0.5em;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
  }
}
